$colores: (
    "color-fondo": #1A3438,
    "color-contraste": #0D1F22,
    "color-cards": #2C4A52,
    "color-bordes": #8B2E1F,
    "color-texto": #D9C9A8,
    "color-detalles": #c9a227
);

$estilo-lista: none;

$ancho: 800px;

$ord1: 1;
$ord2: 2;